@model Core.Models.Order
@using Core.Helpers

@{
    ViewData["Title"] = "Congratulations";

    var message="";
    
    
 }

 <h1>@ViewData["Title"]</h1>

 <h2>Thank you for completing your membership purchase. We value and appreciate your business</h2>

     <Br>

   <h3>You gifts will be dispatched very shortly.  You can check the status of your<a href"Order"> order here </a></h3> 
   <h4>You can watch your delivery progress here- Coming soon!</h4>

<br>
