@model Core.Models.Order
@using Core.Helpers

@{
    ViewData["Title"] = "Membership Cancelled";

    var message="";
}
<h2>@ViewData["Title"]</h2>

We are sorry you cancelled your membership purchase. 
<br>If you had any trouble or if you would like to use an alternative method to pay for your membership please call the support line.  
