<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <section>
                    //Todo  make dynamic stuff here for modal dialogue boxes
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>