@model Core.Models.Franchise



@{

    ViewData["Title"]="Careers and Franchise Opportunities";

}

<div class="container">

<h2>@ViewData["Title"]</h2>
<h4>Franchise Opportunities</h4>
                       

<h1>  So...  Are you interested in becoming a franchise partner?</h1>

<br>

    It doesn't matter if you live in Downtown Toronto or Nunavut. If you are interested in starting a new career you've come to the right place.  

<br>

    We are looking for enthusiastic and energetic people to setup and run delivery and brick and morter services in cities and territories across Canada including Toronto.

   To get started you need little more than a bank account and a lot of energy.  

    We handle advertising and promotion so customers are automatically directed to you. We supply all inventory automatically so theres nothing to worry about. 

    The backend system creates your orders, processes the order payment, confirms the details, collects the funds, dispatches your closest driver(or you), then tarnsfers your funds electronically.  

    You access our partner platform where you can administer your account, setup banking info, manage inventory, drivers, customers, orders, and more.

<br>

     This is only the beginning of a brand new multi billion dollar industry. There are going to be plenty of winners, if you want to be one with us, click the button below and send us your information.  

     We will have someone contact you within the next 24-48 hours.

<hr>
We think we know what this market will look like and how to cater to the unique clientelle and their demands.  We've already proved it with our own sales in Toronto, thats why we are providing turnkey franchise businesses to individuals who qualify.<br> 
                       <hr><h1>Some of the key features of our turnkey franchise are:</h1> 
                        <li>Exclusive territories.</li>
                        <li>Exclusive products.  Packaging and branding included.</li> 
                        <li>Order are automatically booked through the website.</li>
                        <li>Inventory and supplies are automatically restocked and shipped based on computer learning and hueristics</li>
                        <li>Payment processing for debit, credit and PayPal.</li>
                        <li>Partner website and tools where you manage your profile, orders, inventory, drivers, customers,and everything else required to run your franchise.</li>
                        <li>Accounts cash and credit are settled weekly, funds are automatically depositied into your Accounts</li>
                        <hr>
<br>



<h4>Career Opportunities</h4>

We are currently hiring for the following positions in Toronto.  If you are interested in joining our team of professionals flollow the links below for the position you are interested in.
<br>
<li>Delivery personel. We are hiring people to deliver products in various areas.  If you use a bike, transit, a car, wheel chair, or feet we have a job for you.  We are currently looking for people in the Golden Horshoe .</li>
<li>Investment relations.  We are looking for people to handle all inventment related activities. Experience in the investment and banking community is required. We have experienced public corporation officers and directors on staff and on the board.  
    We will be conducting financing activites in preparation for either a public offering or a capital pool conversion.  You initial responsibilities involve managing the current private company offering, perspectus, and investors.</li>
<li>Human Resources.  We are looking for a human resource specialist.  Initial responsibilities involve creating and setting up corporate guidlines and policies for hiring and employment. </li>
<li>Field Manager.  Duties include managing delivery personell in a given area. As the team area leader you have to make sure your delivery areas arer adequtely serviced.  Resupply field workers as necessary, and fill in when drivers are sick or busy conditions.  
    Your team is the face of the company, you are expected to deliver high standards from your team.</li>        
<li>Inevntory manager.  Manage and maintain inventory levels,  We are looking for someone to work in the back office supporting the franchise partners, field managers, and the inventory team to forecast and demand and maintain adequate stock levels</li>
<li>Order Desk/Shipping/Recieving manager. Responsible for product packaging and receiving supplying Field Managers and shipping inventory to franchise partners</li> 
<li>Packager/Lab worker. We need some to perform various duties in the front and back office supporting various departments as needed.  There will be soe lab work involved so orevious lab work an asset but not required.</li>







<br>
     Please note you must already have an account on our system to signup for franchising information. If you gaven't already registered please do so here. 

     This way we can capture your email and phone information information and reduce the inforation required for the Franchise page 

     and it reduces the number of junk and robot inquiries we get.  

     Thank You for your cooperation.  





<form method="GET" asp-action="Apply">


       <input type="submit" value="Apply Now" />

   
 
</form>

</div>

<!--









    <div class="form-horizontal">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">

            <label asp-for="CustomerId" class="col-md-2 control-label"></label>

            <div class="col-md-10">

                <input asp-for="CustomerId" class="form-control" />

                <span asp-validation-for="CustomerId" class="text-danger"></span>

            </div>

        </div>

</form>-->




