@model Core.Models.Franchise

@{
    ViewData["Title"]="Careers and Franchise Opportunities";
}

<h2>@ViewData["Title"]</h2>
<p>
   <h3>Thank you for your interest.  We have collected your information and someone will be contacting you shortly</h3>
    <br>
