@{
    ViewData["Title"] = "Confirm Email";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head"><h2>@ViewData["Title"]</h2></div>
    <div class="panel-body">

<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
</div></div>