@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head"><h2>@ViewData["Title"]</h2></div>
    <div class="panel-body">

<p>
    An email has been sent.  Select the link in the body of the email to reset your password.
</p>
</div></div>