<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Core.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
   <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ida:ClientId" value="{Enter the Client ID of your app from the app registration portal}" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}{1}" />
    <add key="ida:RedirectUri" value="https://localhost:44326/" />
    <add key="SiteSettings:ContactPhone" value="1-416-802-8129" />
    <add key="SiteSettings:WebDomain" value="uberduber.com" />
    <add key="SiteSettings:SupportEmail" value="support" />
    <add key="SiteSettings:ContactEmail" value="contact" />
    <add key="SiteSettings:SalesEmail" value="sales" />
    <add key="SiteSettings:CompanyName" value="Dubes" />
  </appSettings>
</configuration>