<h2>Email Registration.</h2>

<p>Start by clicking on <A href="/Account/Register"> Register </a>.</p>  
<p>You can sign up using your email address. Choose a password and press submit.</p>
<p>You will be sent an email with a link to follow to confrm your email address.</p>
<p>Select the link or paste the url into your browser to complete the email registration.</p>
<br>
<P>Contune to the phone number verification registration...</p>
<Style>
    p span 
    font-size: .7em;
    margin: 0px 0px 0px 0px;
    padding: 0em;
    height: 2em;

    
</style>