<h2>Phone Registration.</h2>

<p>If you haen't done so, you will be redirected to <A href="/Manage/AddPhoneNumber"> Add Phone Number </a>.</p> 
<p>You need to confirm an SMS number with us for delivery notifications.</p>
<p>Enter your cell phone number where you can receive SMS messages and press submit.</p>
<p>In a few seconds you will get a code sent to your phone.  Enter the code in the form and press submit.</p>
<p>You can change numbers later by going to <a href="/Manage"> Manage</a> or click your email address in the upper right corner.</p>
<br>
<P>Contune to address verification registration...</p>
