<h2>Address Registration</h2>

<p>You will be redirected to add your delivery address or go to <A href="/Manage/UpdateUser"> Update Profile </a>.</p>
<p>Type in your address in the "Delivery Address" box.  As you type you will see suggestions based on geocoded adreeses.  Select your address from the list.</p>
<p>Once you select your address it will check if you qualify for 1/2 hour delivery.  This will be your default delivery address.
<p>If you don't qualify for instant delivery we will ship your order out the same day.</p>
<p>You can change the address during orering for any given delivery.  The system will tell you if the address you've selected is eligible for same day delivery.</p>
<p>We are always increasing our delivery areas and cities we server. Check the latest boundries and add your address to the wish list at <a href="/Delivery"> the delivery menu</a>
<br>
<P>Thats it registration is done now continue to ordering ...</p>