<h2>First Ordering</h2>

<p>Select from the main menu or by going directly to <A href="/Inventorys/ForSale"> /Shopping </a>.</p>
<p>On your first time to the shop you will have to select a gift and pay for membership.  You membership gift is reflected in the price of the membership.  We give a substantial discount on your membership order.</p>
<p>Our minimum order amount for delivery is $50 or 1/8 Oz. or 3.5gr.</p>
<p>Select your products your cart will automatically update.  You can come back later and your cart will remember where you left off</p>
<p>After your happy with your order select your checkout and pay for your order.</p>
<br>
<P>Selections done continue to payment options...</p>