<h2>Payment Options.</h2>

<p>You can checkout directly using Paypal to pay with any major credit cards or directly from your bank account through your PayPal account</p>
<p>Or you can choose to pay directly from your bank account using Interac e-Transfer.</p>
<p>Once you have established a delivery history your account will automatically enable an option to pay by cash on delivery</p>
<p>Complete your payment process and you will receive an email and an SMS message with your delivery details within a few minutes.</p>
<br>
<P>Payment complete check delivery status...</p>