<h2>Delivery</h2>

<p>After you've paid for your order we will start the delivery process. You can change your <a href="/orders" order </a>details at anytime until your oder status changes to "out for delivery"</p>
<p>We will delivery to your default delivery address.  If your default address is within our instant delivery area we will dispatch your order immediately</p>
<p>If your address is outside our instant delivery area we will deliver your packages to the shippers by 6pm if your order is made before 3PM otherwise it will ship the next day by 6PM..</p>
<p>Our drivers deliver to your front door Use the "special instructions" section when making your order to specify a mailbox drop or other instructions to the driver</p>
<p>If we have any problems our drivers will try and text message you to resolve. 
<br>
<P>Delivery complete  check your membership status frequent flyer credits...</p>