<h2>Enjoy</h2>

<p>We are setting up a frequent flyer program.  users will automatically be granted credit for every pruchase.  The credit can be used towards full purchases.</p>
<P>Please let us klnow how we are doing and if you hav any suggestions.</p>
<p>We are thinking of providing paraphanlia like papers, pips, andother supplies</p>
<p>We would like to know how you like our products so pelase rate us on <a href="http://weedmaps.com/">weedmaps.</a></p>
<br>
<P>Back to the begining...</p>