@model Core.Models.SMS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>SMS</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="AppUser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AppUser" class="form-control" />
                <span asp-validation-for="AppUser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SentTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SentTo" class="form-control" />
                <span asp-validation-for="SentTo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SentFrom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SentFrom" class="form-control" />
                <span asp-validation-for="SentFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateSent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateSent" class="form-control" />
                <span asp-validation-for="DateSent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateRecieved" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateRecieved" class="form-control" />
                <span asp-validation-for="DateRecieved" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
