<hr>

<div id=containerButtons class="container-fluid">
  <div class=row>
    <div class="col-xs-3 homebtns"> 
      <a href="/Account/Login" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil "></span> Login
      </a>
    </div>  
    <div class="col-xs-3 homebtns"> 
      <a href="SystemStatus" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-signal"></span> Status
      </a>
    </div>  
    <div class="col-xs-3 homebtns"> 
      <a href="/Account/Register" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil "></span> Register
      </a>
    </div>  
    <div class="col-xs-3 homebtns"> 
      <a href="/Orders" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-shopping-cart"></span>Orders 
      </a>
    </div>
    <div class="col-xs-3 homebtns"> 
      <a href="/Franchise1" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-link"></span>Franchise
      </a>
    </div>  

    <div class="col-xs-3 homebtns"> 
      <a href="/Delivery" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-road"></span>Areas
      </a>
    </div>  
    <div class="col-xs-3 homebtns"6> 
      <a href="/Home/Downloads" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-blackboard"></span>MJ Info
      </a>
    </div>  
    <div class="col-xs-3 homebtns"6> 
      <a href="/Inventorys/ForSale" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-shopping-cart"></span>Store
      </a>
    </div>
      <div class="col-xs-3 homebtns"6> 
      <a href="/Manage" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-cog"></span>Settings
      </a>
    </div>
    <div class="col-xs-3 homebtns"> 
      <a href="/Home/About" class="btn btn-success btn-xs">
        <span class="glyphicon glyphicon-home"></span>About
      </a>
    </div>
  </div>
</div>
<hr>