@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication



@inject SignInManager<ApplicationUser> SignInManager
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h4>We represent a new wave coming through this industry.</h4>
We didnt start years ago, running illegal skunk works operations or non-profit "compassion" centres.  We come from industries where the competition
is killer, and the margins are miniscule.  We learned, and we know how to keep you happy. In this industry the margins are very high and the customers should be treated with much more respect, given much 
better services, and better prices than they are getting now.  We aim to do just that.  We will bring the service in line with the margins this industry is commanding. 
</p>

<p>
What that means to you is that you'll be getting much better products at better prices when and where you want them.   
<p>
      We are a group of professionals dedicated to bringing you the very best products when you want them.  
      We are tightly integrated into the entire process of marijuana manufacturing and distribution. 
      We have entered into exclusive arrangments with some of the industries very best most experienced groups and organizations.
      This business is unique and requires a unique business model to address specific needs of the customers efficiently.
      Our arrangemnts guarantee freshness and a constant supply of the highest quality products at the best prices for you.
</p>
 
    <h4>Farmers</h4>
 <p>       <br>
            All our farmers have over 25 years experience growing in all areas indoor, outdoor, and grenenhouse.  
            Our farmers are active in bio-genetics and cloning and are always working to bring you new and exciting hybrids.
            We guarantee all of our products are grown following proper organic farming methods and our lab tests for conformance.
</p>
<p>             
    <h4>Manufacturers</h4> 
      <br>
        We have worked with our post harvest manufacurers to ensure the products we provide are the best in the business.  
        We guarantee freshness, the active ingredients and the stated quantities in all of our extract base and harvested products.  Our lab conducts daily and random testing of our manufactureres and their product lines 
</p>
<p>          
    <h4>Lab</h4>
 <br>
       We have our own labratory that activley tests our products for quality control and contaminants like mold .  We verify percentages of THC and CBD and guarantee our ingredient and quantities. 
       The Lab does innovation as well.  Constantly developing new products or finding better and cleaner ways of making existing products.
       If you would like to know about some of our lab products or are interested in testing beta products please send us an
       <a href='mailto://support@uberduber.com'> email </a>
</p>
<p>          
     <h4>Distribution</h4> 
<br>
    Starting in downtown Toronto we aim to change the way you buy your marijuana or at least make it more like it should be.  
    We have setup a designated deilvery area that is constantly growing as we add drivers.  So check the <a href="/Delivery"> delivery area </a> page often if your not currently covered.
    If you order our products and your delivery address is within our designated area then we will immediately dispatch your products for local delivery. If your address is outside of this area then we will post your orders by 6pm. 
    Our entire system is automated and you will be notified via email and SMS when your order and delivery status change. 
    Our goal is to have your ordered delivered to you within 20-30 minutes, although times can be longer depending on business and conditions.
        
<p>          
     <h4>Why...</h4> 
<br>
    
    We don't like the current dispensary model.  
    We don't like having to fill out some bogus signup form and admit to some ailment to get a fake perscription.
    We don't like that you need a different Rx for every dispensary.  
    We don't like that after you signup your then allowed to line up.  
    We don't like that you have to show your ID everytime while they look you up in their system.
    We don't like watching and waiting for someone to weigh it up. 
    We don't like having to go to the dispensary to get our marijuana
    We don't like that it takes at least 1/2 hour to get it.
    and finally...
    We don't like the quality and or the abuse the products go through in the other systems. 

    We would prefer to have someone just drop it off.  Don't you?'

</p>
 <h4>We are a high tech company</h4>
                    
                       We use big data from our systems and the huge Internet data wharehouses for perdicting localized demand and supply patterns. Our computer learning and A.I. algorithms anticipate  
                       to determine localized demand and supply levels and anticipate spikes and troughs in the cycles and stock accordingly.  We have relatime inventory control and management systems in place.  If you can orer it it will be at you door in minutes.
                       We have partnered with the industry leaders.  Our growers have hundreds of years experience between them.  Our concentrates manufacturers practicly invented the industry.  
                       We also cary local artisan fare that showcases some of the better quality products available on the market that you don't see at the store front locations.  
                       These are from farmers who care and don't just grow for quantity artisnal quality  

                        We don't think you need to line up to make your purchase.  Sit back order online and we'll be at your door in minutes.
                    