@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>UberDuber Admin</h1>
<br><a href="/Users">Users</a>
<br><a href="/DeliveryAreas"> DeliveryAreas</a>
<br><a href="/Partners"> Partnerss</a>
<br><a href="/Drivers"> Drivers</a>
<br><a href="/Vehicles"> Vehicles</a>

<br><a href="/DriverBalances"> Driver Balances</a>

<br><a href="/Orders">Orders like a user</a>
<br><a href="/OrdersAdmin"> Orders Administration</a>
<br><a href="/Inventorys"> Inventory</a>
<br><a href="/InventoryGroups"> InventoryGroups</a>
<br><a href="/Inventorys/forsale"> Interac storefront</a>
<br><a href="/DebitWay"> DebitWay</a>
<br><a href="/DebitWayNotifications"> DebitWay Notifications</a>

<br><a href="/Home/Investors"> Investors</a>

<br><a href="/Role"> Roles</a>
<br><a href="/orders/Accept?DriverId=1&ID=44"> testOrderAccept</a>
