@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>UberDuber</h1>
<address>
  <bold>  
    lakeview Ave<br />
    Toronto, Ontario.  M6J3B2<br />
    <abbr title="Phone">P: 1 (647) 528-4350</abbr>
    @ViewData["ContactPhoneNumber"]</bold>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@uberduber.biz">Support@UberDuber.biz</a><br/>
    <strong>Franchising:</strong> <a href="mailto:franchise@UberDuber.biz">franchising@UberDuber.Biz</a>
</address>
