@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>UberDuber</h1>
<address>
  <bold>  
    <br />
    Toronto, Ontario. <br />
    <abbr title="Phone">P: 1 (647) 799-2699</abbr> 
    @ViewData["ContactPhoneNumber"]</bold>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@uberduber.com">Support@UberDuber.Com</a><br/>
    <strong>Franchising:</strong> <a href="mailto:franchise@UberDuber.com">franchising@UberDuber.Com</a>
</address>

<strong>Interac Transactions:</strong>
Please Note: If you have any queries regarding your transaction, please contact <a href="http://www.debitway.com" target=_new> www.debitway.com</a> by emailing them at <a href="mailto://support@debitway.com"> support@debitway.com</a> or call 
1 (877) 332-4802 immediately so that it may be rectified accordingly.