@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<h1>UberDuber</h1>
<address>
  <bold>  
    lakeview Ave<br />
    Toronto, Ontario.  M6J3B2<br />
    <abbr title="Phone">P: 1 (416) 802-8129</abbr> 
    @ViewData["ContactPhoneNumber"]</bold>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@uberduber.com">Support@UberDuber.Com</a><br/>
    <strong>Franchising:</strong> <a href="mailto:franchise@UberDuber.com">franchising@UberDuber.Com</a>
</address>
