@{
    ViewData["Title"] = "Industry Information, Jounal Publications, and Useful Documents";
   
}
<h2>@ViewData["Title"].</h2>


Below are links to information and our legal documents.  We take our industry seriously seriuosly.  If you think you have a problem with misuse of marijuana pelase seek help there are plenty of resources available online.  
Below we have provided many links to various information , studies, articles and documents relative to the industry.  We are always look for more to add.  
If you know of interesting atrticles forms or information pelase send them to us.  <a href=mailto:/support@uberduber.com>support@uberduber.com</a>
<hr><br><a href="http://www.camh.ca/">Centre for Addiction and Mental Health CAMH</a>
<br><a href="Home/Shipping">Delivery Policy</a>
<br><a href="Home/Returns">Return Policy</a>
<br><a href="/Pdf/InstructionLetter.pdf">Medical Marijuana Doctors Instruction Letter</a>
<br><a href="/Pdf/Terms&Conditions">Franchise Licensing Agreement</a>
<br><a href="/Franchise">Franchise Licensing Agreement</a>
<br><a href="Home/Information">Terms of Service Agreements</a>
<br><a href="Home/Information">End User Agreements</a>
<br><a href="Home/Information">Privacy Policy</a>
<br><a href="Home/Information"> Information Use and Sharing Policy </a>
<br><a href="/WebSites/Human Cannabinoid Pharmacokinetics.html"> Human Cannabinoid Pharmacokinetics Journal Publication </a>
<br><a href="/Pdf/Marijuanauseamongyoungpeople.Pdf"> Marijuana Use Among Young people - Journal Publication </a>
<br><a href="/Pdf/Assessingtheriskofmarijuanausedisorder.Pdf"> Assessing The Rosk of Marijuana Use - Journal Publication </a>
