

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="20000" >
    <ol class="carousel-indicators" role="complementary">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>       
    <div class="carousel-inner" role="listbox">
        
        <div class="item active"> 

            <img id="img1" src="~/img/blank3.png" alt="Dubes" class="img-responsive img-carousel" />
            <div class="carousel-caption" role="option">
                

 
                    <h2>Welcome to UberDuber Canada</h2> 

                    <div class=row> 
                        <div class="col-xs-6"> 
                            Members:
                        </div>
                        <div class="col-xs-6"> 
                           <a href="/Account/Login" class="btn btn-info btn-sm" >Login</a>
                        </div>
                        <div class="col-xs-6"> 
                            New Users:
                        </div>
                        <div class="col-xs-6"> 
                           <a href="/Account/Register" class="btn btn-info btn-sm" >Register</a>
                        </div>
                        <div class="col-xs-6"> 
                            Check your address:
                        </div>
                        <div class="col-xs-6"> 
                          <a href="/Delivery" class="btn btn-info btn-sm" >Delivery Areas</a>
                        </div>
                        <div class="col-xs-6"> 
                           New SMS Ordering
                        </div>
                        <div class="col-xs-6"> 
                          <a href="sms://647-799-2699/" class="btn btn-info btn-sm" >647-779-2699</a>
                        </div>
                    </div>

                  
                  

<hr>
 
            </div>
        </div>
        <div class="item">
            <img  src="~/img/blank3.png" alt="Uber Duber" class="img-responsive img-carousel"/>
            <div class="carousel-caption" role="option">
                             <p>
                     <h2><a href="/Franchise1">Franchise Opportunities</a></h2>
                       We are looking for energetic and enterprising people interested in a franchise business in this brand new and dynamic industry.  
                       We are a full service franchise company.  We offer turnkey solutions and we will have you setup and running in as little as a few days.
                       You don't need anything. Our payment, order, dispatching, and inventory management systems are completely automated. .
                       
                     
                       <h4><a class="btn btn-default"  href="/franchise"> Exclusive areas are going fast fill out our franchise info request</a></h4>
             
<hr>           
                    
            
            </div>
        </div>
        <div class="item">
            <img  src="~/img/blank3.png" alt="Fields" class="img-responsive img-carousel"  0/>
            <div class="carousel-caption" role="option">
                <p> <h2>We want your business</h2>
                    We guarantee astisfaction.  We process and dispatch your orders automatically.
                    We send you an sms when your order is on its way..  
                    Our systems are smart.  Our menus are drivern by inventory and the inventory is updated with every order. We dispatch to multiple drivers.  The most available drivers get your orer to make sure your delibery arrives on time.
                    If you can order it on our website it will be at your dorr in 30 minutes.  Don't go line up at some dispensary and get treated like a sick patient waiting in line at a clinic.  Sit back relax and we'll see you in half an hour.
                   

      
                </p>
            </div>
            

        </div>
        <div class="item">
            <img src="~/img/blank3.png" alt="green" class="img-responsive img-carousel"/>
            
            <div class="carousel-caption" role="option">
                <h2>Links</h2>           
                @await Html.PartialAsync("_HomeButtons")
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

  @await Html.PartialAsync("_Footer")

