<h2>@ViewData["Title"].</h2><hr>

The new Liberal government has begun the process of completely legalizing Marijuana in Canada.  The information listed below is for informational purposes only. 
We will post the new regulations and guidelines as the become available 
<hr>
The Marijuana Medical Access Regulations (MMAR) govern the use of marijuana for patients that seek to use
it for for the treatment and relief of symptons for a wide variety of conditions.
<p> 
Individuals can apply for authorization to possess limited quantitiesd of marihuana for medical purposes and to grow limited numbers of plants at home.
If you live in Canada you need to get a medical declaration made by a licensed medical practitioner that is treating the you.
<p>
The MMAR has setup a guideline for the authorization of patients to posses marijuana for medicinal purposes.  
Patients must have symptoms and conditions that fall within either Category 1 OR Category 2 below, licensed medical practitioners like your doctor determine what catagory your condition falls into based on your accounts to him or her:
<p>
<h4>Category 1</h4><hr>
Any symptom treated within the context of compassionate end-of-life care,<br>
OR<br>
Symptoms related to specific medical conditions, namely:
Severe pain and/or persistent muscle spasms from multiple sclerosis
Severe pain and/or persistent muscle spasms from a spinal cord injury
Severe pain and/or persistent muscle spasms from a spinal cord disease
Severe pain, cachexia, anorexia, weight loss, and/or severe nausea from cancer
Severe pain, cachexia, anorexia, weight loss, and/or severe nausea from HIV/AIDS infection
Severe pain from severe forms of arthritis
Seizures from epilepsy
 <p>
<h4>Category 2</h4><hr>
A debilitating symptom that is associated with a medical condition or with the medical treatment of that condition, other than those described in Category 1.
<hr>
<h4>Marihuana for Medical Purposes.</h4> 
There is another initiative that was started after the MMAr but prior to the legalizing of marijuana. 
 You can find inforation on that here under the<a href="http://www.laws-lois.justice.gc.ca/eng/regulations/SOR-2013-119/"> Marihuana for Medical Purposes Regulations.</a>