@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>

RETURN POLICY FOR MEDICAL MARIJUANA AND RELATED PRODUCTS:

Unfortunatley there is no return or exchange for medical marijuana flowers or medical marijuana derivitives.
<br>
If you feel we have provided any product not to acceptable standards, then you must contact us at @ViewData["PhoneNumber"] or email @ViewData["EmailSupport"] with details.  We want you to be happy and we will work closely with you to remedy any problematic situation 
If, Under our sole discretion, we determine you are entitled to a refund, we will grant you the refund as store credit.  

We value your business and we will work very hard to keep it please contact us first if you have any problems or issues.

    

 