@page
@using Core
@using Microsoft.AspNetCore.Mvc.RazorPages
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@inject ApplicationDbContext Db


@{
    var message = "Hello, World!";
}

<html>
<body>
    <p>@message</p>
</body>
</html>



