@{
    ViewData["Title"] = "PayPal Api";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
 You have been redirected to a page not meant for people.  If you reached this page from a link please contact the site administrator
</p>
